<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="lib/font-awesome/css/all.min.css" rel="stylesheet">
  <link href="styles/game.css" rel="stylesheet">
  <link href="styles/index.css" rel="stylesheet">
  <link href="styles/safehouse.css" rel="stylesheet">
  <link href="styles/land.css" rel="stylesheet">
  <link href="styles/grain.css" rel="stylesheet">
  <link href="styles/scavenge.css" rel="stylesheet">
  <link href="styles/raid.css" rel="stylesheet">
</head>
<body ng-app="DawnFortApp" ng-controller="AppController as vm" ng-cloak class="d-flex flex-direction-column">

  <div top-bar ng-show="vm.user.id" ng-class="{'mobile': isMobile}">
    <a href="#!safehouse"><div title>DawnFort</div></a>
    <div description>Zombie Apocalyptic World</div>
    <div menu>
      <i class="fas fa-envelope fa-lg"></i>
      <i class="fas fa-bell fa-lg"></i>
      <a href="#!user"><i class="fa fa-user fa-lg"></i></a>
    </div>
  </div>

  <div main ng-class="{'mobile': isMobile}">
    <div side ng-controller="SideController as vm" ng-class="{'mobile': isMobile}" ng-show="vm.user.id">
      <div player-details>
        <div>Name:&nbsp;&nbsp;&nbsp;{{vm.user.username}}</div>

        <div class="d-flex flex-direction-row">
          Level:&nbsp;&nbsp;&nbsp;&nbsp;{{vm.user.character.level}}
          &nbsp;<div class="text-btn" ng-show="vm.levelUpAvailable" ng-click="vm.levelUp()">[upgrade]</div>
        </div>

        <div>Coins:&nbsp;&nbsp;&nbsp;<i class="fa fa-coins"></i>&nbsp;{{vm.user.character.coins | commafy}}</div>

        <div>Vaccines:&nbsp;<i class="fa fa-medkit"></i>&nbsp;{{vm.user.character.vaccines | commafy}}</div>

        <div style="margin-top:5px;">
          <div style="margin-bottom:5px;font-size:12px;">
            Exp: {{vm.view._experience}}
          </div>
          <div value="vm.user.character.experience" max="vm.currentLevelExp" class="bar"></div>
        </div>
      </div>

      <div style="margin-top:5px;height:1px;border-bottom:1px solid #484848"></div>

      <div class="bars">
        <div style="margin-top:5px;">
          <div style="margin-bottom:5px;font-size:12px;">
            Energy: {{vm.user.character._energy}}/{{vm.user.character.energy}}
          </div>
          <div value="vm.user.character._energy" max="vm.user.character.energy" class="bar"></div>
        </div>
        
        <div style="margin-top:5px;">
          <div style="margin-bottom:5px;font-size:12px;">
            Nerve: {{vm.user.character._nerve}}/{{vm.user.character.nerve}}
          </div>
          <div value="vm.user.character._nerve" max="vm.user.character.nerve" class="bar"></div>
        </div>

        <div style="margin-top:5px;">
          <div style="margin-bottom:5px;font-size:12px;">
            Hunger: {{vm.user.character._hunger}}/{{vm.user.character.hunger}}
          </div>
          <div value="vm.user.character._hunger" max="vm.user.character.hunger" class="bar"></div>
        </div>

        <div style="margin-top:5px;">
          <div style="margin-bottom:5px;font-size:12px;">
            Concentration: {{vm.user.character._concentration}}/{{vm.user.character.concentration}}
          </div>
          <div value="vm.user.character._concentration" max="vm.user.character.concentration" class="bar"></div>
        </div>

        <div style="margin-top:5px;">
          <div style="margin-bottom:5px;font-size:12px;" class="d-flex flex-direction-row">
            Grain Price:&nbsp;<i class="fa fa-medkit"></i>&nbsp;{{vm.user.grainPrice}}&nbsp;<div ng-click="vm.goto('grain')" class="text-btn">[Sell]</div>
          </div>
          <div value="vm.user.grainPrice" max="1000" class="bar"></div>
        </div>
      </div>

      <div navigation ng-show="!isMobile">
        <div ng-click="vm.goto('safehouse')">
          <i class="fa fa-building fa-lg"></i>&nbsp;&nbsp;Safehouse
        </div>
        <div ng-click="vm.goto('land')">
          <i class="fa fa-leaf fa-lg"></i>&nbsp;&nbsp;Land
        </div>
        <div ng-click="vm.goto('scavenge')">
          <i class="fa fa-bullseye fa-lg"></i>&nbsp;&nbsp;Scavenge
        </div>
        <div ng-click="vm.goto('city')">
          <i class="fa fa-globe fa-lg"></i>&nbsp;&nbsp;City
        </div>
        <div ng-click="vm.goto('raid')">
          <i class="fa fa-users fa-lg"></i>&nbsp;&nbsp;Raid
        </div>
      </div>
    </div>

    <div ng-view ng-class="{'mobile': isMobile}"></div>
  </div>

  <div class="mobile-navigation" ng-if="vm.user && isMobile">
    <div ng-click="vm.goto('safehouse')">
      <i class="fa fa-building"></i>&nbsp;Safehouse
    </div>
    <div ng-click="vm.goto('land')">
      <i class="fa fa-leaf"></i>&nbsp;Land
    </div>
    <div ng-click="vm.goto('scavenge')">
      <i class="fa fa-bullseye"></i>&nbsp;Scavenge
    </div>
    <div ng-click="vm.goto('city')">
      <i class="fa fa-globe"></i>&nbsp;City
    </div>
    <div ng-click="vm.goto('raid')">
      <i class="fa fa-users"></i>&nbsp;Raid
    </div>
  </div>

  <script src="lib/socket.io.min.js"></script>
  <script src="lib/moment.min.js"></script>
  <script src="lib/jquery.min.js"></script>
  <script src="lib/anime.min.js"></script>
  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-route.min.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/routes.js"></script>
  <script src="scripts/index.controller.js"></script>
  <script src="scripts/app.controller.js"></script>
  <script src="scripts/side.controller.js"></script>
  <script src="scripts/safehouse.controller.js"></script>
  <script src="scripts/scavenge.controller.js"></script>
  <script src="scripts/scavenge-step.controller.js"></script>
  <script src="scripts/land.controller.js"></script>
  <script src="scripts/grain.controller.js"></script>
  <script src="scripts/raid.controller.js"></script>
  <script src="scripts/city.controller.js"></script>
  <script src="scripts/bar.directive.js"></script>
</body>
</html>