@font-face {
  font-family: blackops;
  src: url(../fonts/Black_Ops_One/BlackOpsOne-Regular.ttf);
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #989693;
  font-size: 13px;
  background-color: #191919;
  -webkit-font-smoothing: antialiased;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.d-flex { display: flex; }
.flex-direction-row { flex-direction: row; }
.flex-direction-column { flex-direction: column; }
.justify-content-center { justify-content: center; }
.align-items-center { align-items: center; }

.input-text {
  padding: 8px;
  font-size: 15px;
  color: #989693;
  border: 1px solid #989693;
  background-color: #1f1f1f;
  outline: none;
  border-radius: 3px;
  transition: border-color 333ms;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.input-text:focus {
  border-color: #FFF;
}

.btn {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #c08f5e;
  color: #FFF;
  padding: 8px 10px;
  min-width: 100px;
  height: calc(35px - 16px);
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  transition: background-color 222ms;
}

.btn:hover {
  background-color: #b07b45
}

.btn.disabled {
  background-color: #484848;
  cursor: not-allowed;
}

.btn.disabled:hover {
  background-color: #C08F5C;
  opacity: 0.5;
}

.btn.dark {
  background-color: #484848;
}

.btn.dark:hover {
  background-color: #484848;
}

.btn.sm {
  padding: 3px 8px;
  min-width: 0px;
  width: auto;
  font-size: 12px;
  border-radius: 4px;
}

.text-btn {
  color: #c08f5e;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}

.text-btn:hover {
  text-decoration: underline;
}

.alert {
  width: calc(100% - 24px);
  border-radius: 4px;
  padding: 8px 12px;
}

.alert.danger {
  color: #a94442;
  background-color: #e3caca;
}

.alert.success {
  color: #FFF;
  background-color: #66ac66;
}

.alert.info {
  color: #FFF;
  background-color: #885b98;
}

a {
  color: inherit;
  text-decoration: none;
}

[top-bar] {
  width: 100vw;
  height: 50px;
  background-color: #282828;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #343434;

  [title] {
    font-size: 30px;
    color: #c08f5e;
    cursor: pointer;
    padding: 6px;
    text-decoration: none;
    font-family: blackops;
  }

  [description] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  [menu] {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;

    & > * {
      margin: 0 10px;
      cursor: pointer;
    }
  }
}

[main] {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  &.mobile {
    flex-direction: column;
  }

  [ng-view].mobile {
    width: calc(100vw - 32px);
    overflow-x: hidden;
    overflow-y: auto;
  }
}

[side] {
  flex-basis: 200px;
  height: calc(100vh - 51px - 20px);
  background-color: #1e1e1e;
  padding: 10px;

  &.mobile {
    width: calc(100vw - 20px);
    flex-basis: 160px; // height

    [player-details] {
      flex-direction: row;
      flex-wrap: wrap;

      & > * {
        width: 130px;
        margin: 2px 5px;
      }
    }

    .bars {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      & > * {
        margin: 0 3px;
        width: 111px;
      }
    }
  }

  [player-details] {
    display: inline-flex;
    flex-direction: column;
    width: 100%;

    & > * {
      margin: 2px 0;
    }
  }

  [navigation] {
    padding: 15px 0;
    display: inline-flex;
    flex-direction: column;
    font-size: 15px;
    color: #c08f5e;
    user-select: none;
    -moz-user-select: none;

    & > * {
      display: inline-flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      margin: 10px 0;
      padding-left: 10px;
      font-weight: bold;
    }

    i {
      font-size: 18px;
    }
  }
}

[ng-view] {
  width: calc(100vw - 200px);
  min-height: calc(100vh - 51px - 16px);
  background-color: #191919;
  padding: 8px 16px;

  &.mobile {
    
  }
}

.bar {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #141414;
  border-radius: 5px;
  overflow: hidden;
}

.bar .fill {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  margin: 2px;
  background-color: #c08f5e;
  border-radius: 5px;
}

.page-title {
  color: #FFF;
  font-size: 20px;
}

.tabs {
  display: inline-flex;
  flex-direction: row;
  background: #1F1F1F;
  user-select: none;
  -moz-user-select: none;
}

.tabs > * {
  padding: 12px;
  cursor: pointer;
  color: #c08f5e;
}

.tabs > *.active {
  color: #989693;
}

.tab {
  background: #1F1F1F;
}

.tab.tab-content {
  padding: 12px;
}

.btn-back {
  color: #c08f5e;
  margin: 0 8px;
  cursor: pointer;
}

.mobile-navigation {
  position: fixed;
  left: 0;
  bottom: 0;
  width: calc(100vw - 16px);
  height: 45px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #1f1f1f;
  border-top: 1px solid #292929;
  padding: 12px 8px;
}

.mobile-navigation > * {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  color: #c08f5e;
}

.mobile-navigation > * > i {
  margin-bottom: 4px;
  font-size: 28px;
}