.grain-price {
  font-size: 20px;
  color: #FFF;
  margin-bottom: 4px;
  font-weight: 500;
}

.grain-available {
  font-size: 20px;
  color: #FFF;
  margin-bottom: 4px;
  font-weight: 500;
}

[grain-sell-container] > * {
  margin: 0 2px;
}

