.grain-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.grain-container > * {
  margin: 3px 0;
}

.grain-number {
  font-size: 20px;
  color: #FFF;
  font-weight: 500;
}

.arces-options {
  padding: 20px;
  display: inline-flex;
  background-color: #282828;
}

.arces-options > * {
  margin: 0 2px;
}

.arces-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  user-select: none;
  -moz-user-select: none;
}
.arces-container.mobile .arce {
  width: 145px;
}
.arces-container .title {
  width: 100%;
  font-size: 20px;
  width: 100%;
}

[btn-buy-arce].mobile {
  margin-bottom: 100px;
}

.arce {
  position: relative;
  background-color: #1e1e1e;
  width: 150px;
  height: 110px;
  margin: 12px;
}

.arce:hover {
  background-color: #313131;
}

.arce .title {
  position: absolute;
  top: 18%;
  left: 40%;
  z-index: 2;
  color: #FFF;
  opacity: 0.6;
}

.arce .subtitle {
  position: absolute;
  top: 42%;
  left: 10%;
  z-index: 2;
  color: #FFF;
  opacity: 0.6;
}

.arce .btn {
  position: absolute;
  left: 26%;
  top: 40%;
  z-index: 2;
  min-width: 50px;
}

.arce .progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #648c49;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/*# sourceMappingURL=land.css.map */
