<div class="page-title">Grain Price</div>

<div class="alert success" style="margin:12px 0;" ng-show="vm.view.successMessage"
  ng-click="vm.view.successMessage = ''">
  {{vm.view.successMessage}}</div>
<div class="alert danger" style="margin:12px 0;" ng-show="vm.view.failMessage" ng-click="vm.view.failMessage = ''">
  {{vm.view.failMessage}}</div>
<div class="alert info" style="margin:12px 0;" ng-show="vm.view.infoMessage" ng-click="vm.view.infoMessage = ''">
  {{vm.view.infoMessage}}</div>

<div class="d-flex flex-direction-row align-items-center" style="justify-content:space-around;margin-top:32px;">
  <div class="d-flex flex-direction-column align-items-center">
    <div class="grain-price">
      <i class="fa fa-medkit"></i>&nbsp;{{vm.user.grainPrice | commafy}}
    </div>
    <div>
      Current Price per Tonne
    </div>
  </div>

  <div class="d-flex flex-direction-column align-items-center">
    <div class="grain-available">
      {{vm.user.character.grain | commafy}}
    </div>
    <div>
      Tonnes Available
    </div>
  </div>

  <div class="d-flex flex-direction-row align-items-center" grain-sell-container>
    <div>Tonnes</div>
    <input class="input-text" type="number" style="min-width:50px;width:50px;" ng-model="vm.view.grainSelected" ng-enter="vm.sell()">
    <div ng-click="vm.sell()" class="btn" style="min-width:30px;width:30px;">Sell</div>
  </div>
</div>

<hr style="height:1px;background-color:#989693;border:none;margin:50px 0;">

<div class="d-flex flex-direction-column" style="margin-top:32px;">
  <div style="font-size:17px;text-align:center;">
    Stats
  </div>
  <div class="d-flex flex-direction-row" style="justify-content:space-around;margin-top:8px;">
    <div class="d-flex flex-direction-column align-items-center">
      <div style="font-size:20px;color:#FFF;">Unknown</div>
      <div style="margin-top:4px;">Global Tonnage</div>
    </div>

    <div class="d-flex flex-direction-column align-items-center">
      <div style="font-size:20px;color:#FFF;"><i class="fa fa-medkit"></i>&nbsp;1,000</div>
      <div style="margin-top:4px;">High Price pt</div>
    </div>

    <div class="d-flex flex-direction-column align-items-center">
      <div style="font-size:20px;color:#FFF;"><i class="fa fa-medkit"></i>&nbsp;1</div>
      <div style="margin-top:4px;">Low Price pt</div>
    </div>
  </div>
</div>