<div class="page-title">Your Land</div>
<div style="margin-top:8px;">You do not pay any land tax. You own a land of {{vm.arces.length}} arce{{vm.arces.length > 1 ? 's' : ''}}.</div>

<div class="grain-container" style="margin-top:12px;">
  <div class="grain-number">
    {{vm.user.character.grain}}
  </div>
  <div>Tonnes of Grain</div>
  <a href="#!grain"><div class="btn" style="min-width:30px;width:30px;">Sell</div></a>
</div>

<div class="alert success" style="margin:12px 0;" ng-show="vm.view.successMessage" ng-click="vm.view.successMessage = ''">
  {{vm.view.successMessage}}</div>
<div class="alert danger" style="margin:12px 0;" ng-show="vm.view.failMessage" ng-click="vm.view.failMessage = ''">
  {{vm.view.failMessage}}</div>

<div class="d-flex flex-direction-column">

  <div class="arces-options" style="width:138px;">
    <div class="btn sm dark" ng-click="vm.sowAllArces()">Sow All</div>
    <div class="btn sm dark" ng-click="vm.harvestAllArces()">Harvest All</div>
  </div>

  <div class="arces-container" style="margin-top:12px;" ng-class="{'mobile': vm.isMobile}">
    <div class="title">Farm Land</div>

    <div ng-repeat="arce in vm.arces track by $index" class="arce" data-arce-id="{{arce.id}}">
      <div class="title">
        Arce #{{arce.id}}
      </div>

      <div ng-click="vm.sowArce(arce.id)" class="btn sm" style="background:transparent;border:2px solid #2f5a33;" ng-show="arce.state == 0">
        <i class="fa fa-tractor"></i>&nbsp;Sow
      </div>

      <div class="subtitle" ng-show="arce.state == 1">
        Ready in {{arce.sowTimeLeft}} minutes
      </div>

      <div ng-click="vm.harvestArce(arce.id)" class="btn sm" style="background:#2f5a33;" ng-show="arce.state == 2">
        <i class="fa fa-tractor"></i>&nbsp;Harvest
      </div>
      <div class="progress" ng-show="arce.state > 0"></div>
    </div>
  </div>

  <div btn-buy-arce class="btn" ng-class="{'mobile': vm.isMobile}" style="width:222px;margin-top:18px;" ng-click="vm.buyArce()">
    Buy Arce&nbsp;&nbsp;<i class="fa fa-medkit fa-lg"></i>&nbsp;{{vm.buyArcePrice}}
  </div>
</div>