<div class="page-title">Raid</div>
<div class="d-flex flex-direction-row">
  <div style="margin-top:8px;line-height:20px;">This is a special place under constant developement. Enjoy!</div>
  <div ng-if="vm.raid" style="margin-left:12px;">
    <div ng-click="vm.leaveRaid()" class="btn sm dark">Leave Raid</div>
  </div>
</div>

<i class="fa fa-circle-notch fa-spin" ng-if="vm.loadingView"></i>

<div ng-if="!vm.loadingView && !vm.raid">
  <div ng-click="vm.createRaid()" class="btn" style="margin-top:8px;">Create a Raid Party</div>
</div>

<div ng-if="vm.raid" style="margin-top:8px;">
  <div class="d-flex flex-direction-row">
    <div class="console">
      <div class="logs">
        <div ng-repeat="log in vm.raid.logs track by $index" class="d-flex flex-direction-row">
          <div ng-if="vm.raid.logCounts[$index] > 1">{{[vm.raid.logCounts[$index]]}}</div>
          &nbsp;{{log}}
        </div>
      </div>
    </div>

    <div class="controls">
      <div style="color:green;">Party</div>
      <div class="d-flex flex-direction-column">
        <div class="d-flex flex-direction-row align-items-center" style="width:100%;">
          <div style="padding:2px;white-space:nowrap;flex-basis:35%;text-align:right;overflow:hidden;">
            {{vm.user.character.name}}: {{vm.live.hp}}/{{vm.user.character.life}}
          </div>
          <div class="bar" value="vm.live.hp" max="vm.user.character.life"></div>
        </div>

        <div ng-show="player.id != vm.user.character.id" ng-repeat="player in vm.live.players" class="d-flex flex-direction-row align-items-center" style="width:100%;">
          <div style="padding:2px;white-space:nowrap;flex-basis:35%;text-align:right;overflow:hidden;">
            {{player.name}}: {{player.hp}}/{{player.life}}
          </div>
          <div class="bar" value="player.hp" max="player.life"></div>
        </div>
      </div>

      <div style="margin-top:8px;"></div>
      
      <div class="d-flex flex-direction-row" ng-show="vm.user.character.hp === 0">
        <div class="text-btn" ng-click="vm.revive()">[Revive <i class="fa fa-medkit"></i> {{vm.user.character.life}}]</div>
        <div class="text-btn">[{{vm.actionState}}]</div>
      </div>

      <div class="d-flex flex-direction-row" ng-show="vm.user.character.hp > 0">
        <div class="text-btn" ng-click="vm.attack()">[Attack]</div>
        <div class="text-btn">[{{vm.actionState}}]</div>
      </div>

      <hr style="height:1px;background-color:#989693;border:none;margin:50px 0;">

      <div style="color:red;">Targets</div>
      <div class="d-flex flex-direction-column">
        <div ng-repeat="target in vm.raid.targets"
          class="d-flex flex-direction-row align-items-center" style="width:100%;">
          <div style="padding:2px;white-space:nowrap;flex-basis:35%;text-align:right;overflow:hidden;">
            {{target.name}}: {{target.stats.hp}}/{{target.stats.life}}
          </div>
          <div class="bar" value="target.stats.hp" max="target.stats.life"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="!vm.loadingView && !vm.raid" style="margin-top:16px;">
  <div class="d-flex flex-direction-row">
    <div style="flex-basis:30%;">
      Raid ID
    </div>
    <div style="flex-basis:30%">
      Players
    </div>
  </div>

  <div class="d-flex flex-direction-row" ng-repeat="raid in vm.raids" style="margin:4px 0;">
    <div ng-if="vm.raids.length === 0">No Raids available at the moment</div>
    <div style="flex-basis:30%;" class="d-flex flex-direction-row align-items-center">
      #{{raid.id}}
    </div>
    <div style="flex-basis:30%" class="d-flex flex-direction-row align-items-center">
      {{raid.players.length}}
    </div>
    <div style="flex-basis:40%">
      <div class="btn" ng-click="vm.joinRaid(raid.id)">Join Party</div>
    </div>
  </div>
</div>