<div class="d-flex flex-direction-row">
  <a href="#!scavenge"><i class="btn-back fa fa-arrow-left fa-2x"></i></a>
  <div class="page-title">Scavenge {{vm.view.areas[vm.area - 1].name}}</div>
</div>

<div style="color:#FFF;margin-top:8px;">
  Attempting to Scavenge the {{vm.view.areas[vm.area - 1].name}} will use {{vm.area}} Nerve .
</div>

<div style="margin-top:8px;line-height:20px;">
  {{vm.view.areas[vm.area - 1].text}}
</div>

<a href="#!scavenge">
  <div class="text-btn" style="margin-top:8px;">[Not now]</div>
</a>

<div class="alert success" style="margin:12px 0;" ng-show="vm.view.successMessage"
  ng-click="vm.view.successMessage = ''">
  {{vm.view.successMessage}}</div>
<div class="alert danger" style="margin:12px 0;" ng-show="vm.view.failMessage"
  ng-click="vm.view.failMessage = ''">
  {{vm.view.failMessage}}</div>
<div class="alert info" style="margin:12px 0;" ng-show="vm.view.infoMessage" ng-click="vm.view.infoMessage = ''">
  {{vm.view.infoMessage}}</div>

<div class="d-flex flex-direction-row" style="margin-top:8px;">
  <a href="#!scavenge"><div class="btn dark" style="min-width:30px;margin-right:6px;"><i class="fa fa-arrow-left"></i></div></a>
  <div class="btn" ng-click="vm.scavenge()" ng-class="{'disabled': vm.user.character._nerve < vm.area}">Scavenge&nbsp;<i class="fa fa-arrow-right"></i></div>
</div>